In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
import scipy.stats as ss
from scipy.stats import levene
import os
import pingouin as pg
import statsmodels.api as sm
import statsmodels.formula.api as smf
%matplotlib inline
os.getcwd()

'/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-berezin-33/Statistics'

In [44]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-berezin-33/Statistics/cars.csv', sep=',')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

#### Сколько пропущенных значений встретилось в датасете?

In [46]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

#### Сколько всего уникальных марок машины встречается в датасете?

In [47]:
df.head(2)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0

In [48]:
df['company'] = df['CarName'].apply(lambda x: x.split(' ')[0])

In [49]:
df['company'].nunique()

28

In [50]:
rep = {'maxda' : 'mazda',
    'Nissan' : 'nissan',
    'porcshce' : 'porsche',
    'toyouta' : 'toyota',
    'vokswagen' : 'volkswagen',
    'vw' : 'volkswagen'}

In [51]:
df['company'] = df['company'].map(rep).fillna(df['company'])

In [52]:
df['company'].nunique()

22

#### Чему равна корреляция между price и horsepower? Ответ округлите до 2 знаков после точки.

In [53]:
name_col = ['price', 'company', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower'
]

In [54]:
df = df.drop(columns=['car_ID', 'CarName'])

In [55]:
df.columns

Index(['symboling', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price', 'company'],
      dtype='object')

In [56]:
sample_df = df[name_col]
sample_df

,price,company,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower
0,13495.0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
1,16500.0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
2,16500.0,alfa-romero,gas,std,hatchback,rwd,94.5,171.2,65.5,2823,ohcv,six,152,2.68,154
3,13950.0,audi,gas,std,sedan,fwd,99.8,176.6,66.2,2337,ohc,four,109,3.19,102
4,17450.0,audi,gas,std,sedan,4wd,99.4,176.6,66.4,2824,ohc,five,136,3.19,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,16845.0,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,2952,ohc,four,141,3.78,114
201,19045.0,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.8,3049,ohc,four,141,3.78,160
202,21485.0,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,3012,ohcv,six,173,3.58,134
203,22470.0,volvo,diesel,turbo,sedan,rwd,109.1,188.8,68.9,3217,ohc,six,145,3.01,106
204,22625.0,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.9,3062,ohc,four,141,3.78,114

In [57]:
corr_mat = sample_df.corr()
corr_mat

,price,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower
price,1.000000,0.577816,0.682920,0.759325,0.835305,0.874145,0.553173,0.808139
wheelbase,0.577816,1.000000,0.874587,0.795144,0.776386,0.569329,0.488750,0.353294
carlength,0.682920,0.874587,1.000000,0.841118,0.877728,0.683360,0.606454,0.552623
carwidth,0.759325,0.795144,0.841118,1.000000,0.867032,0.735433,0.559150,0.640732
curbweight,0.835305,0.776386,0.877728,0.867032,1.000000,0.850594,0.648480,0.750739
enginesize,0.874145,0.569329,0.683360,0.735433,0.850594,1.000000,0.583774,0.809769
boreratio,0.553173,0.488750,0.606454,0.559150,0.648480,0.583774,1.000000,0.573677
horsepower,0.808139,0.353294,0.552623,0.640732,0.750739,0.809769,0.573677,1.000000

In [58]:
corr_mat['price'].sort_values(ascending=False).round(2)

price         1.00
enginesize    0.87
curbweight    0.84
horsepower    0.81
carwidth      0.76
carlength     0.68
wheelbase     0.58
boreratio     0.55
Name: price, dtype: float64

##### Перевод в категориальные данные

In [59]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           205 non-null    float64
 1   company         205 non-null    object
 2   fueltype        205 non-null    object
 3   aspiration      205 non-null    object
 4   carbody         205 non-null    object
 5   drivewheel      205 non-null    object
 6   wheelbase       205 non-null    float64
 7   carlength       205 non-null    float64
 8   carwidth        205 non-null    float64
 9   curbweight      205 non-null    int64
 10  enginetype      205 non-null    object
 11  cylindernumber  205 non-null    object
 12  enginesize      205 non-null    int64
 13  boreratio       205 non-null    float64
 14  horsepower      205 non-null    int64
dtypes: float64(5), int64(3), object(7)
memory usage: 24.1+ KB

In [60]:
df_dummy = pd.get_dummies(data=sample_df[name_col], drop_first = True)
df_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 49 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price                  205 non-null    float64
 1   wheelbase              205 non-null    float64
 2   carlength              205 non-null    float64
 3   carwidth               205 non-null    float64
 4   curbweight             205 non-null    int64
 5   enginesize             205 non-null    int64
 6   boreratio              205 non-null    float64
 7   horsepower             205 non-null    int64
 8   company_audi           205 non-null    uint8
 9   company_bmw            205 non-null    uint8
 10  company_buick          205 non-null    uint8
 11  company_chevrolet      205 non-null    uint8
 12  company_dodge          205 non-null    uint8
 13  company_honda          205 non-null    uint8
 14  company_isuzu          205 non-null    uint8
 15  company_jaguar         205 non-null    uint8
 16  company_mazda          205 non-null    uint8
 17  company_mercury        205 non-null    uint8
 18  company_mitsubishi     205 non-null    uint8
 19  company_nissan         205 non-null    uint8
 20  company_peugeot        205 non-null    uint8
 21  company_plymouth       205 non-null    uint8
 22  company_porsche        205 non-null    uint8
 23  company_renault        205 non-null    uint8
 24  company_saab           205 non-null    uint8
 25  company_subaru         205 non-null    uint8
 26  company_toyota         205 non-null    uint8
 27  company_volkswagen     205 non-null    uint8
 28  company_volvo          205 non-null    uint8
 29  fueltype_gas           205 non-null    uint8
 30  aspiration_turbo       205 non-null    uint8
 31  carbody_hardtop        205 non-null    uint8
 32  carbody_hatchback      205 non-null    uint8
 33  carbody_sedan          205 non-null    uint8
 34  carbody_wagon          205 non-null    uint8
 35  drivewheel_fwd         205 non-null    uint8
 36  drivewheel_rwd         205 non-null    uint8
 37  enginetype_dohcv       205 non-null    uint8
 38  enginetype_l           205 non-null    uint8
 39  enginetype_ohc         205 non-null    uint8
 40  enginetype_ohcf        205 non-null    uint8
 41  enginetype_ohcv        205 non-null    uint8
 42  enginetype_rotor       205 non-null    uint8
 43  cylindernumber_five    205 non-null    uint8
 44  cylindernumber_four    205 non-null    uint8
 45  cylindernumber_six     205 non-null    uint8
 46  cylindernumber_three   205 non-null    uint8
 47  cylindernumber_twelve  205 non-null    uint8
 48  cylindernumber_two     205 non-null    uint8
dtypes: float64(5), int64(3), uint8(41)
memory usage: 21.1 KB

#### Построим небольшую модель всего с одним предиктором цены (price) – horsepower.

Какой процент изменчивости объясняет полученная модель? (округлите до целого)

In [61]:
result = smf.ols('price ~ horsepower', data=df_dummy).fit()

In [75]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Mon, 20 Mar 2023   Prob (F-statistic):           1.48e-48
Time:                        14:11:54   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Построим две модели:
- Mодель со всеми предикторами
- Mодель со всеми предикторами, кроме марок машин

In [63]:
Y = sample_df['price']
X = df_dummy
X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()

In [73]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.234e+29
Date:                Mon, 20 Mar 2023   Prob (F-statistic):               0.00
Time:                        14:02:42   Log-Likelihood:                 4670.7
No. Observations:                 205   AIC:                            -9245.
Df Residuals:                     157   BIC:                            -9086.
Df Model:                          47
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                  9.872e-12   2.32e-10      0.043      0.966   -4.48e-10    4.68e-10
price                     1.0000   1.53e-15   6.53e+14      0.000       1.000       1.000
wheelbase             -6.586e-14   1.48e-12     -0.044      0.965      -3e-12    2.87e-12
carlength              5.004e-13   9.58e-13      0.523      0.602   -1.39e-12    2.39e-12
carwidth               -1.45e-12   4.31e-12     -0.336      0.737   -9.96e-12    7.06e-12
curbweight            -1.018e-14   3.11e-14     -0.327      0.744   -7.16e-14    5.13e-14
enginesize            -6.288e-14   4.65e-13     -0.135      0.892    -9.8e-13    8.55e-13
boreratio              9.196e-12   3.45e-11      0.267      0.790    -5.9e-11    7.73e-11
horsepower             8.196e-14    3.5e-13      0.234      0.815    -6.1e-13    7.74e-13
company_audi           2.767e-11   4.09e-11      0.676      0.500   -5.31e-11    1.08e-10
company_bmw            2.353e-11   4.23e-11      0.556      0.579      -6e-11    1.07e-10
company_buick           2.73e-11   4.79e-11      0.570      0.569   -6.72e-11    1.22e-10
company_chevrolet      2.366e-11   3.97e-11      0.597      0.552   -5.47e-11    1.02e-10
company_dodge          3.532e-11   3.28e-11      1.078      0.283   -2.94e-11       1e-10
company_honda          3.107e-11   3.14e-11      0.989      0.324    -3.1e-11    9.31e-11
company_isuzu           2.41e-11    3.5e-11      0.688      0.493   -4.51e-11    9.33e-11
company_jaguar          3.39e-11   4.92e-11      0.690      0.491   -6.32e-11    1.31e-10
company_mazda          2.526e-11   3.19e-11      0.793      0.429   -3.77e-11    8.82e-11
company_mercury        4.213e-11   5.38e-11      0.783      0.435   -6.41e-11    1.48e-10
company_mitsubishi     2.318e-11   3.23e-11      0.719      0.473   -4.05e-11    8.69e-11
company_nissan         1.938e-11   3.02e-11      0.642      0.522   -4.02e-11     7.9e-11
company_peugeot        2.571e-11   3.48e-11      0.739      0.461    -4.3e-11    9.44e-11
company_plymouth       2.291e-11   3.25e-11      0.705      0.482   -4.13e-11    8.71e-11
company_porsche        2.712e-11   5.44e-11      0.499      0.618   -8.02e-11    1.34e-10
company_renault        2.666e-11   4.01e-11      0.664      0.508   -5.26e-11    1.06e-10
company_saab           3.354e-11    3.4e-11      0.986      0.326   -3.37e-11    1.01e-10
company_subaru         3.944e-11   6.81e-11      0.579      0.563   -9.51e-11    1.74e-10
company_toyota         2.337e-11   2.99e-11      0.782      0.435   -3.57e-11    8.24e-11
company_volkswagen     2.288e-11   3.11e-11      0.735      0.463   -3.86e-11    8.43e-11
company_volvo          2.273e-11   3.74e-11      0.608      0.544   -5.11e-11    9.66e-11
fueltype_gas          -2.833e-12   1.75e-11     -0.162      0.871   -3.74e-11    3.17e-11
aspiration_turbo      -2.912e-12    1.3e-11     -0.223      0.824   -2.87e-11    2.29e-11
carbody_hardtop       -1.084e-11   2.37e-11     -0.458      0.648   -5.76e-11    3.59e-11
carbody_hatchback     -8.426e-12   2.18e-11     -0.386      0.700   -5.15e-11    3.46e-11
carbody_sedan         -1.371e-11   2.25e-11     -0.610      0.543   -5.81e-11    3.07e-11
carbody_wagon         -5.624e-12   2.39e-11     -0.235      0.814   -5.29e-11    4.16e-11
drivewheel_fwd         6.227e-13   1.71e-11      0.036      0.971   -3.32e-11    3.44e-11
drivewheel_rwd        -2.331e-12      2e-11     -0.117      0.907   -4.19e-11    3.72e-11
enginetype_dohcv       8.137e-12   8.42e-11      0.097      0.923   -1.58e-10    1.74e-10
enginetype_l           8.582e-12   3.09e-11      0.278      0.781   -5.24e-11    6.96e-11
enginetype_ohc         2.175e-12   2.05e-11      0.106      0.916   -3.83e-11    4.26e-11
enginetype_ohcf       -2.635e-11   5.38e-11     -0.490      0.625   -1.33e-10    7.99e-11
enginetype_ohcv        5.519e-12   2.37e-11      0.233      0.816   -4.12e-11    5.22e-11
enginetype_rotor       1.435e-11   4.03e-11      0.356      0.722   -6.52e-11    9.39e-11
cylindernumber_five    8.529e-12   5.61e-11      0.152      0.879   -1.02e-10    1.19e-10
cylindernumber_four    5.624e-12   6.84e-11      0.082      0.935   -1.29e-10    1.41e-10
cylindernumber_six     8.489e-12   5.13e-11      0.166      0.869   -9.28e-11     1.1e-10
cylindernumber_three  -2.532e-11   5.34e-11     -0.474      0.636   -1.31e-10    8.02e-11
cylindernumber_twelve  -9.09e-12   7.07e-11     -0.129      0.898   -1.49e-10    1.31e-10
cylindernumber_two     1.351e-11   4.03e-11      0.336      0.738    -6.6e-11     9.3e-11
==============================================================================
Omnibus:                       22.454   Durbin-Watson:                   0.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.598
Skew:                          -0.692   Prob(JB):                     2.27e-07
Kurtosis:                       4.291   Cond. No.                     1.16e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.74e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [69]:
no_car_df = df_dummy.drop(columns=['company_audi', 'company_bmw', 'company_buick', 'company_chevrolet', 'company_dodge', 'company_honda', 'company_isuzu', 'company_jaguar', 'company_mazda', 'company_mercury', 'company_mitsubishi', 'company_nissan', 'company_peugeot', 'company_plymouth', 'company_porsche', 'company_renault', 'company_saab', 'company_subaru', 'company_toyota', 'company_volkswagen', 'company_volvo'])

In [70]:
# без машин
Y = sample_df['price']
X = no_car_df
X = sm.add_constant(X)
model = sm.OLS(Y,X)
results_no_car = model.fit()

In [74]:
print(results_no_car.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.142e+30
Date:                Mon, 20 Mar 2023   Prob (F-statistic):               0.00
Time:                        14:02:57   Log-Likelihood:                 4768.8
No. Observations:                 205   AIC:                            -9482.
Df Residuals:                     177   BIC:                            -9389.
Df Model:                          27
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                  4.119e-13   1.07e-10      0.004      0.997    -2.1e-10    2.11e-10
price                     1.0000   6.13e-16   1.63e+15      0.000       1.000       1.000
wheelbase               -1.6e-13   7.13e-13     -0.225      0.823   -1.57e-12    1.25e-12
carlength              1.947e-13   4.13e-13      0.472      0.638    -6.2e-13    1.01e-12
carwidth              -7.505e-13    2.1e-12     -0.358      0.721   -4.89e-12    3.39e-12
curbweight            -2.272e-15   1.48e-14     -0.154      0.878   -3.14e-14    2.69e-14
enginesize            -1.363e-14   1.84e-13     -0.074      0.941   -3.77e-13     3.5e-13
boreratio              6.142e-12   1.42e-11      0.432      0.666   -2.19e-11    3.42e-11
horsepower             5.684e-14   1.47e-13      0.388      0.699   -2.32e-13    3.46e-13
fueltype_gas          -4.616e-12   8.11e-12     -0.569      0.570   -2.06e-11    1.14e-11
aspiration_turbo       -5.04e-12   6.47e-12     -0.779      0.437   -1.78e-11    7.73e-12
carbody_hardtop        1.233e-11   1.26e-11      0.977      0.330   -1.26e-11    3.72e-11
carbody_hatchback      8.587e-12    1.1e-11      0.784      0.434    -1.3e-11    3.02e-11
carbody_sedan          1.172e-11   1.13e-11      1.040      0.300   -1.05e-11     3.4e-11
carbody_wagon          8.708e-12   1.23e-11      0.710      0.478   -1.55e-11    3.29e-11
drivewheel_fwd        -1.968e-12   9.17e-12     -0.215      0.830   -2.01e-11    1.61e-11
drivewheel_rwd         1.891e-12   1.01e-11      0.187      0.852    -1.8e-11    2.18e-11
enginetype_dohcv       2.099e-12   3.86e-11      0.054      0.957    -7.4e-11    7.82e-11
enginetype_l           5.304e-12    1.1e-11      0.483      0.629   -1.64e-11     2.7e-11
enginetype_ohc         8.367e-12   7.73e-12      1.082      0.281   -6.89e-12    2.36e-11
enginetype_ohcf        4.215e-12   1.18e-11      0.357      0.722   -1.91e-11    2.75e-11
enginetype_ohcv        8.663e-12   1.14e-11      0.759      0.449   -1.39e-11    3.12e-11
enginetype_rotor        7.52e-12   1.73e-11      0.434      0.665   -2.67e-11    4.17e-11
cylindernumber_five    6.715e-12   2.51e-11      0.267      0.789   -4.28e-11    5.63e-11
cylindernumber_four    1.543e-11   2.83e-11      0.545      0.586   -4.04e-11    7.13e-11
cylindernumber_six     6.481e-12      2e-11      0.324      0.747    -3.3e-11     4.6e-11
cylindernumber_three   1.012e-11   3.92e-11      0.258      0.797   -6.73e-11    8.76e-11
cylindernumber_twelve  5.063e-12   2.87e-11      0.177      0.860   -5.15e-11    6.16e-11
cylindernumber_two      1.07e-11   1.73e-11      0.618      0.538   -2.35e-11    4.49e-11
==============================================================================
Omnibus:                       22.818   Durbin-Watson:                   0.077
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               36.761
Skew:                          -0.627   Prob(JB):                     1.04e-08
Kurtosis:                       4.653   Cond. No.                     1.16e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.74e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.